footer {
    background-color: #212324;
    padding: 50px 0 10px 0;
}

.footer-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    color: aliceblue;
    grid-gap: 20px;
    margin-left: 20px;
}

.footer-details span {
    color: #FE9108;
}

.footer-details h3 {
    color: #FE9108;
    font-size: 16px;
}

.footer-details p {
    line-height: 15px;
    font-size: 14px;
}

.single-detail {
    display: flex;

}

.lastdetails p {
    text-align: center;
    color: aliceblue;
    font-size: 14px;
}



@media (max-width:768px) {
    .footer-details {
        display: block;
    }
}